.blockJeneralInfo {
	min-height: 100vh;
	position: relative;
	background: #eaeaea;
}

.boxLineDecoration {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 85%;
}

.line {
	position: relative;
	width: 95%;
	height: 5px;
	border-radius: 10px;
	background-color: #893F45B3;
}

.rhomb {
	margin-left: 27px;
	font-size: 10px;
	color: #893F45B3;
}