.boxPrimaryData {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.innerBoxPrimaryData {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.firstContainerPrimaryData {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-basis: 35%;
	height: 100%;
	background-color: #893F45B3;
}

.listSocialLinks {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 48px;
	padding: 0;
	width: 100%;
	list-style: none;
}

.socialLink {
	display: inline-flex;
}

.iconLinkSocial {
	margin: 0 16px;
	width: 35px;
	height: 35px;
	color: #212121;
	transition: transform 0.5s;
	&:hover {
		transform: scale(1.2);
	}
}

.secondContainerPrimaryData {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	flex-basis: 65%;
	height: 100%;
	background-color: #eaeaea;
}

