.boxPrimaryData {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.innerBoxPrimaryData {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.firstContainerPrimaryData {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-basis: 35%;
	height: 100%;
	background-color: #893F45B3;
}

.listSocialLinks {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 48px;
	padding: 0;
	width: 100%;
	list-style: none;
}

.itemSocialLink {
	display: inline-flex;
}

.socialLink {
	margin: 0 16px;
	display: inline-flex;
	border-radius: 50%;
}

.iconLinkSocial {
	//margin: 0 16px;
	width: 35px;
	height: 35px;
	color: #212121;
	transition: transform 0.5s;
	&:hover {
		transform: scale(1.2);
	}
}

.personalPhoto {
	position: absolute;
	left: 35%;
	height: 400px;
	width: 400px;
	transform: translateX(-50%);
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
	transition: opacity 0.3s;
}

.secondContainerPrimaryData {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	flex-basis: 65%;
	height: 100%;
	background-color: rgba(234, 234, 234, .5);//#eaeaea;
}

.blockPersonalData {
	width: 45%;
	margin-right: 112px;
}

.primaryTitle {
	margin-bottom: -14px;
	font-size: 20px;
	font-weight: 500;
	opacity: 0.8;
}

.primaryName {
	margin: 16px 0;
	font-size: 52px;
	line-height: 110%;
	font-weight: 600;
}

.primaryDescription {
	margin: 5px 0 16px;
	font-size: 16px;
	opacity: 0.7;
	font-weight: 500;
}

.boxPrimaryBtns {
	margin: 32px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 350px;

	& a {
		text-decoration: none;
		& button {
		font-weight: 600;
		}
	}
	//color:#b8767be6;
}

@media (max-width: 1100px) {
	.personalPhoto {
		width: 350px;
		height: 350px;
	}

	.listSocialLinks {
		margin: 33px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}

	.primaryTitle {
		font-size: 18px;
	}

	.primaryName {
		font-size: 48px;
	}

	.primaryDescription {
		margin-top: 1px;
		margin-bottom: 3px;
		font-size: 14px;
		font-weight: 500px;
	}

	.boxPrimaryBtns {
		margin-top: 16px;
		flex-direction: column;
		align-items: flex-start;
		width: 200px;
		height: 120px;
	}
}

@media (max-width: 900px) {
	.personalPhoto { 
		width: 250px;//300px;
		height: 250px; //300px;
	}

	.iconLinkSocial {
		width: 30px;
		height: 30px;
	}

	.blockPersonalData {
		margin-right: 6%;
		margin-top: 10%;
		margin-left: 4%;
		width: 56%;//60%;
	}

	.boxPrimaryBtns {
		margin-top: 16px;
		flex-direction: column;
		align-items: flex-start;
		width: 200px;
		height: 120px;

		& button:nth-child(2) {
			display: none;
		}
	}
}


@media (max-width: 600px) {
	.innerBoxPrimaryData {
		flex-direction: column;
		justify-content: space-between;
	}

	.personalPhoto {
		width: 200px;
		height: 200px;
		left: 50%;
		top: 30%;
		border: 8px solid #eaeaea;
		transform: translate(-50%, -50%);
	}

	.firstContainerPrimaryData {
		flex: initial;
		width: 100%;
		height: 30%;
	}

	.iconLinkSocial {
		display: none;
	}

	.secondContainerPrimaryData {
		flex: initial;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding: 0 32px;
		width: 100%;
		height: 70%;
		background-color: rgb(245, 240, 240);//#eaeaea;
	}

	.blockPersonalData {
		margin-top: 20%;
		margin-right: initial;
		width: 100%;
	}

	.primaryTitle {
		font-size: 16px;
		text-align: center;
	}

	.primaryName {
		font-size: 40px;
		text-align: center;
	}

	.primaryDescription { 
		margin: 0 auto;
		font-size: 15px;
		text-align: center;
		width: 90%;
	}

	.boxPrimaryBtns {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;

		& button {
			margin-top: -20%;
		}
	}
}


@media (max-width: 500px) {
	.blockPersonalData {
		margin-top: 35%;
	}
}

@media (max-width: 370px) {
	.blockPersonalData {
		margin-top: 60%;
	}
}