.pageProjects {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	background-color: rgba(234, 234, 234, .6);
}

.boxHeaderPageProjects {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35vh;
	background-color: #893F45B3;
}

.headerPageProjects {
	font-size: 64px;
	line-height: 1.1;
	color: #fff;
}

.iconLinkHome {
	position: absolute;
	top: 25px;
	left: 25px;
	box-sizing: border-box;
	padding: 7px;
	font-size: 46px;
	color: #fff;
	border-radius: 50%;
	box-shadow: 3px 3px 6px #ffffff40, -3px -3px 6px #00000050;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	&:hover {
		transform: scale(1.1);
		color: #e9dbdb;
	}
}

.boxContentPageProjects {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 48px 32px;
	width: 100%;
}

.boxSearchProjects {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.inputSearchProject {
	box-sizing: border-box;
	padding: 15px 16px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	width: 40%;
	height: 46px;
	border: none;
	border-radius: 20px;
	background-color: rgba(238, 130, 118, 0.9);
	box-shadow: inset 1px 1px 2px #ffffffbd, inset -1px -1px 2px #00000030;
	outline: none;
	&::placeholder {
		color: #fff;
	}
}

.contentPageProjects {
	margin-top: 80px;
   width: 100%;
}

.innerBoxContentProjects {
	display: flex;
	gap: 64px; 
}


@media (max-width: 992px) {
	.boxHeaderPageProjects {
		height: 25vh;
	}

	.innerBoxContentProjects {
		gap: 48px;
	}
}


@media (max-width: 702px) {
	.innerBoxContentProjects {
		gap: 24px;
	}
}


@media (max-width: 550px) {
	.headerPageProjects {
		font-size: 48px;
	}
}

@media (max-width: 400px) {
	.boxHeaderPageProjects {
		height: 20vh;
	}

	.headerPageProjects {
		font-size: 40px;
	}
}